.menu-btn {
	position: relative !important;
	z-index: 1;
	height: 30px;
	width: 39px;
	cursor: pointer;
	@include transition-ease;
	&-dark {
		.menu-btn__burger {
			position: absolute;
			right: 0;
			top: 0.5rem;
			width: 34px;
			height: 5px;
			background: set-text-color($primary);
			@include transition-ease;

			&::before {
				content: '';
				position: absolute;
				top: -10px;
				width: 39px;
				height: 5px;
				background: set-text-color($primary);
				@include transition-ease;
			}

			&::after {
				content: '';
				position: absolute;
				top: 10px;
				width: 42px;
				height: 5px;
				background: set-text-color($primary);
				@include transition-ease;
			}
		}
	}

	&-light {
		.menu-btn__burger {
			position: absolute;
			right: 0;
			top: 0.5rem;
			width: 34px;
			height: 5px;
			background: set-text-color($secondary);
			@include transition-ease;

			&::before {
				content: '';
				position: absolute;
				top: -10px;
				width: 39px;
				height: 5px;
				background: set-text-color($secondary);
				@include transition-ease;
			}

			&::after {
				content: '';
				position: absolute;
				top: 10px;
				width: 42px;
				height: 5px;
				background: set-text-color($secondary);
				@include transition-ease;
			}
		}
	}

	&.open {
		.menu-btn__burger {
			left: 0;

			height: 6px;
			&.open {
				// transform: rotate(180deg);
				background: transparent;
				// left: 1rem !important;

				&::before {
					background: set-text-color($secondary);
					height: 6px;
					width: 40px;
					right: -3rem;
					left: 0;
					transform: rotate(45deg) translate(6px, 8px) !important;
				}

				&::after {
					left: 0;
					background: set-text-color($secondary);
					height: 6px;
					width: 40px;
					right: -3rem;
					transform: rotate(-45deg) translate(6px, -7px) !important;
				}
			}
		}
	}
}

@keyframes menuShow {
	from {
		top: 0;
		left: 100px;
	}
	to {
		// top: -3ex !important;
		top: -0.2rem !important;
		left: 295px;
	}
}

.btn--socialmedia {
	margin-right: 0.2rem;
	&:hover {
		background-color: $primary;
		color: $secondary !important;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
		box-shadow: $btn-focus-box-shadow;
	}
}
