.sidebar {
	// overflow-y: scroll;
	position: fixed;
	z-index: 90000 !important;
	left: -310px;
	top: 0;
	height: 100%;
	width: 300px;
	background-color: $secondary !important;
	box-shadow: 0rem -1rem 1rem rgba($color: #000000, $alpha: 0.7);
	@include transition-ease;

	.nav {
		margin-left: -1rem !important;
		&-link {
			font-family: 'arial';
			font-size: 0.95rem;
			margin-top: 0.25rem;
			font-weight: 500 !important;

			color: lighten($dark, $amount: 40);
			transition: 0.1s ease-in-out all;

			i {
				color: rgba($primary, $alpha: 0.8);
			}

			span {
				color: rgba($primary, $alpha: 0.3);
			}

			&:hover {
				color: rgba($white, $alpha: 1);
				background-color: lighten($secondary, $amount: 10);

				i {
					color: rgba($primary, $alpha: 1);
				}

				span {
					color: rgba($primary, $alpha: 0.9);
				}
			}
		}
	}

	&.show {
		left: 0px !important;

		overflow-y: scroll;
		transition: 0.2s;

		&::-webkit-scrollbar {
			width: 0.5em;
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba($bg-public, $alpha: 0.7);
			outline: 1px solid rgba($primary, $alpha: 0.8);
		}
	}
}
