<div class="col-12 pl-0 mt-4 pl-md-2 ">
    <h4 class=" mb-n4 text-primary font-25px ">Kontak Kami</h4>
    <nav aria-label="breadcrumb px-0">
        <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item "><a href="#">Home</a></li>
            <li class="breadcrumb-item active  " aria-current="page">Kontak Kami</li>
        </ol>
    </nav>
</div>
<div class="col-12 contact-banner-content pl-0 pl-md-2 pb-4 ">
    <div class="row h-100">
        <div class="col-md-6 d-flex align-content-center flex-column justify-content-center">
            <p class="font-25px text-white mb-n1 ml-0 pl-0  ">
                Kapanpun Anda Membutuhkan Kami
            </p>
            <h1 class=" text-primary font-md-72px font-weight-bold ml-0 pl-0 ">Kami Selalu
                Siap Membantu</h1>

        </div>
        <div class="col-md-6 my-auto mt-3">
            <img class=" img-fluid " src="dist/static/svg/contact_us.svg" alt="">
        </div>
    </div>
</div>