.inbox--card {
	.nav-tabs {
		.nav-item > .nav-link {
			display: flex;
			align-items: center;
			color: $bg-public;
			&.active {
				color: $secondary;
				font-weight: 600;
			}
		}
	}

	.message-link {
		&:hover {
			text-decoration: none;
			background-color: #e9e9e9;
		}
	}
}
