$primary: #ffd37e;
$secondary: #22264c;
// $component-active-bg: theme-color('secondary') !default;

$bg-public: #3d426c;
$dark-70: #3d3b3b;
$breadcrumb-divider: quote('>');
$input-focus-border-color: rgba($secondary, $alpha: 0.7) !default;
$input-focus-box-shadow: 0 0 0.2rem $input-focus-border-color !default;
