.comingsoon-wrapper {
	min-height: 100vh;
	overflow: hidden;
	padding: {
		top: 30px;
	}
	background-color: darken($secondary, $amount: 10);

	.comingsoon-main {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@include media-breakpoint-down(sm) {
	.comingsoon-wrapper {
		padding: {
			top: 30px;
			bottom: 4rem;
		}
	}
}
