.detail-content {
	height: max-content;
	background-color: none;
	position: relative;
	padding-top: 30px;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 35%;
		height: 100% !important;
		background-color: $bg-public !important;
		z-index: -1;
	}
	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 65%;
		height: 100%;
		z-index: -2;
		background-color: $secondary !important;
	}
}

@import '../layout/detail.semilar-cars';

@include media-breakpoint-down(sm) {
	.detail-content {
		// background-color: $secondary;
		padding: {
			left: 1.45rem;
			right: 1.45rem;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			// bottom: 0;
			width: 100%;
			height: 30% !important;
			background-color: $bg-public !important;
			z-index: -1;
		}
		&::before {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			top: 30%;
			bottom: 0;
			width: 100%;
			height: 70%;
			z-index: -2;
			background-color: $secondary !important;
		}

		.nav-social {
			a {
				background-color: $bg-public !important;
			}
		}
	}
}
