@import '../components/banner';
@import '../components/buttons';
@import '../layout/best-cars';
@import '../layout/service';
@import '../layout/home.free_rental';
@import '../layout/home.about';
@include media-breakpoint-down(md) {
	.banner {
		&__card {
			border-radius: 10px;
			box-shadow: 0 0 5px 2px rgba($color: #000000, $alpha: 0.5);
		}
	}
}
// @include media-breakpoint-down(sm) { ... }
@include media-breakpoint-up(md) {
	.jumbotron {
		height: 120vh;
		&__row {
			height: 100% !important;
		}
	}
}
// @include media-breakpoint-down(lg) {
// 	.jumbotron {
// 		&__row {
// 			height: 100% !important;
// 		}
// 	}
// }

// @include media-breakpoint-up(xl) {
// 	.jumbotron {
// 		&__row {
// 			height: 100% !important;
// 		}
// 	}
// }
