<ul class="nav flex-column nav-filter ">
    <li class="nav-item">
        <a class="nav-link" id="listcars-navlink" href="#" data-status="false" data-collapse="#cars">
            <span>
                Tipe
            </span>
            <i class="fas fa-chevron-down font-11px"></i>
        </a>
        <div class="collapse nav-collapse pl-2 " id="cars">
            <nav class="nav d-flex pt-1 flex-column">
                <a class="nav-link " href="#">
                    <span>
                        All Type
                    </span>
                </a>
                <a class="nav-link" href="#"><span>
                        Hatback
                    </span>
                </a>
            </nav>
            <br>
        </div>
        <hr>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="listcars-navlink" href="#" data-status="false" data-collapse="#chair">
            <span>
                Kursi
            </span>
            <i class="fas fa-chevron-down font-11px"></i>
        </a>
        <div class="collapse nav-collapse pl-2 " id="chair">
            <nav class="nav d-flex pt-1 flex-column">
                <a class="nav-link " href="#">
                    <span>
                        All
                    </span>
                </a>
                <a class="nav-link" href="#"><span>
                        5 kursi
                    </span>
                </a>
                <a class="nav-link" href="#"><span>
                        6 kursi
                    </span>
                </a>
                <a class="nav-link" href="#"><span>
                        > 7 kursi
                    </span>
                </a>
            </nav>
            <br>
        </div>
        <hr>
    </li>
</ul>

<div class="dropdown">
    <button class="dropdown-toggle" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Dropdown trigger
    </button>
    <div class="dropdown-menu" aria-labelledby="dLabel">
        <a href="Test.html" class=" nav-link ">Test</a>
    </div>
</div>