{{> ../partials/_dashboard/templates/header title=htmlWebpackPlugin.options.title}}

<div class="dashboard--wrapper">
    {{> ../partials/_dashboard/templates/topbar}}
    {{> ../partials/_dashboard/templates/sidebar}}

    <main class="dashboard--content ">
        <div class="dashboard--main pb-5">
            <div class="container-fluid  ">
                <nav aria-label="breadcrumb  " class=" bg-transparent ml-n8 ">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item text-secondary  my-auto font-25px font-weight-bold ">
                            Inbox</li>
                        <li class="breadcrumb-item active text-secondary  my-auto font-20px" aria-current="page">Unit
                        </li>
                    </ol>
                </nav>
                <div class="row  px-2 ">
                    <div class="col-12   ">
                        <div class="card inbox--card card-body border-0 shadow-sm pt-2 ">
                            <div class="row ">
                                <div class="col-12 mt-2">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary active " href="">
                                                <i class="far fa-inbox-in fa-fw mr-1"></i>
                                                <span>Semua Pesan</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-secondary" id="profile-tab" href="#profile">

                                                <i class="far fa-clock  fa-fw mr-1"></i>
                                                <span>Belum Dibaca</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-12 pt-3  ">
                                    <div class="d-flex flex-column px-2 flex-nowrap w-100 ">


                                        <a href="" class="message-link row py-2 ">
                                            <div class="col-1">
                                                <img class=" rounded-circle " height="50"
                                                    src="dist/static/img/clients/client2.png" alt="">
                                            </div>
                                            <div
                                                class=" col-11 d-flex flex-row align-items-center justify-content-between    px-2   ">
                                                <h5
                                                    class=" text-dark font-13px font-md-20px flex-grow-1  my-auto mr-3 text-left ">
                                                    Hannah
                                                </h5>
                                                <span
                                                    class="message-subject text-left flex-grow-2 text-dark font-w-400 font-11px font-md-15px  ">
                                                    Lorem ipsum
                                                    dolor sit amet conse Lorem ipsum dolor sit, amet consectetur
                                                    adipisicing elit. Iusto deserunt Lorem ipsum dolor sit amet
                                                    consectetur adipisicing elit. Repudiandae officia repellat corrupti
                                                    iste cupiditate nobis voluptatibus fugit sunt pariatur, ullam,
                                                    sapiente modi ratione nisi exercitationem numquam fugiat atque eius
                                                    facere!
                                                </span>
                                                <small class="  text-right text-dark flex-grow-1 ml-auto
                                                 ">
                                                    27 Jun
                                                </small>
                                            </div>
                                        </a>
                                        <a href="" class="message-link row py-2 ">
                                            <div class="col-1">
                                                <img class=" rounded-circle " height="50"
                                                    src="dist/static/img/clients/client2.png" alt="">
                                            </div>
                                            <div
                                                class=" col-11 d-flex flex-row align-items-center justify-content-between    px-2   ">
                                                <h5
                                                    class=" text-dark font-13px font-md-20px flex-grow-1  my-auto mr-3 text-left ">
                                                    Hannah
                                                </h5>
                                                <span
                                                    class="message-subject text-left flex-grow-2 text-dark font-w-400 font-11px font-md-15px  ">
                                                    Lorem ipsum
                                                    dolor sit amet conse Lorem ipsum dolor sit, amet consectetur
                                                    adipisicing elit. Iusto deserunt Lorem ipsum dolor sit amet
                                                    consectetur adipisicing elit. Repudiandae officia repellat corrupti
                                                    iste cupiditate nobis voluptatibus fugit sunt pariatur, ullam,
                                                    sapiente modi ratione nisi exercitationem numquam fugiat atque eius
                                                    facere!
                                                </span>
                                                <small class="  text-right text-dark flex-grow-1 ml-auto
                                                 ">
                                                    27 Jun
                                                </small>
                                            </div>
                                        </a>
                                        <a href="" class="message-link row py-2 ">
                                            <div class="col-1">
                                                <img class=" rounded-circle " height="50"
                                                    src="dist/static/img/clients/client2.png" alt="">
                                            </div>
                                            <div
                                                class=" col-11 d-flex flex-row align-items-center justify-content-between    px-2   ">
                                                <h5
                                                    class=" text-dark font-13px font-md-20px flex-grow-1  my-auto mr-3 text-left ">
                                                    Hannah
                                                </h5>
                                                <span
                                                    class="message-subject text-left flex-grow-2 text-dark font-w-400 font-11px font-md-15px  ">
                                                    Lorem ipsum
                                                    dolor sit amet conse Lorem ipsum dolor sit, amet consectetur
                                                    adipisicing elit. Iusto deserunt Lorem ipsum dolor sit amet
                                                    consectetur adipisicing elit. Repudiandae officia repellat corrupti
                                                    iste cupiditate nobis voluptatibus fugit sunt pariatur, ullam,
                                                    sapiente modi ratione nisi exercitationem numquam fugiat atque eius
                                                    facere!
                                                </span>
                                                <small class="  text-right text-dark flex-grow-1 ml-auto
                                                 ">
                                                    27 Jun
                                                </small>
                                            </div>
                                        </a>
                                        <a href="" class="message-link row py-2 ">
                                            <div class="col-1">
                                                <img class=" rounded-circle " height="50"
                                                    src="dist/static/img/clients/client2.png" alt="">
                                            </div>
                                            <div
                                                class=" col-11 d-flex flex-row align-items-center justify-content-between    px-2   ">
                                                <h5
                                                    class=" text-dark font-13px font-md-20px flex-grow-1  my-auto mr-3 text-left ">
                                                    Hannah
                                                </h5>
                                                <span
                                                    class="message-subject text-left flex-grow-2 text-dark font-w-400 font-11px font-md-15px  ">
                                                    Lorem ipsum
                                                    dolor sit amet conse Lorem ipsum dolor sit, amet consectetur
                                                    adipisicing elit. Iusto deserunt Lorem ipsum dolor sit amet
                                                    consectetur adipisicing elit. Repudiandae officia repellat corrupti
                                                    iste cupiditate nobis voluptatibus fugit sunt pariatur, ullam,
                                                    sapiente modi ratione nisi exercitationem numquam fugiat atque eius
                                                    facere!
                                                </span>
                                                <small class="  text-right text-dark flex-grow-1 ml-auto
                                                 ">
                                                    27 Jun
                                                </small>
                                            </div>
                                        </a>
                                        <a href="" class="message-link row py-2 ">
                                            <div class="col-1">
                                                <img class=" rounded-circle " height="50"
                                                    src="dist/static/img/clients/client2.png" alt="">
                                            </div>
                                            <div
                                                class=" col-11 d-flex flex-row align-items-center justify-content-between    px-2   ">
                                                <h5
                                                    class=" text-dark font-13px font-md-20px flex-grow-1  my-auto mr-3 text-left ">
                                                    Hannah
                                                </h5>
                                                <span
                                                    class="message-subject text-left flex-grow-2 text-dark font-w-400 font-11px font-md-15px  ">
                                                    Lorem ipsum
                                                    dolor sit amet conse Lorem ipsum dolor sit, amet consectetur
                                                    adipisicing elit. Iusto deserunt Lorem ipsum dolor sit amet
                                                    consectetur adipisicing elit. Repudiandae officia repellat corrupti
                                                    iste cupiditate nobis voluptatibus fugit sunt pariatur, ullam,
                                                    sapiente modi ratione nisi exercitationem numquam fugiat atque eius
                                                    facere!
                                                </span>
                                                <small class="  text-right text-dark flex-grow-1 ml-auto
                                                 ">
                                                    27 Jun
                                                </small>
                                            </div>
                                        </a>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>







        {{> ../partials/_dashboard/templates/footer}}
    </main>

</div>