<nav id="navTop" class="navbar navbar-expand-md {{className}}  bg-transparent px-0">
    <div class="container-fluid">

        <a class="navbar-brand font-lg-24px text-left pl-0 " href="#">PrimeRental</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto d-flex w-100   font-montserrat">
                <a class="nav-item px-lg-2 nav-link ml-auto {{classlink}} " href="/">Home </a>
                <a class="nav-item px-lg-2 nav-link {{classlink}} " href="list-cars.html">Mobil
                    Kami</a>
                <a class="nav-item px-lg-2 nav-link {{classlink}}  " href="about.html">Tentang
                </a>


            </div>
        </div>
    </div>
</nav>