{{> partials/components/header title=htmlWebpackPlugin.options.title}}

{{> partials/components/_preloader }}

{{> partials/components/navbar_mobile}}
{{> partials/components/_sidebar status=""}}


<div class="about-content">
    <section class="about-banner px-3">
        {{> ./partials/components/_navbar_top className="navbar-dark" classMenu="menu-btn menu-btn-light" classlink=" text-primary " btn="btn-primary text-secondary  " }}
        {{> ./partials/about/banner }}
    </section>


    {{> ./partials/about/about}}


    <section class="about-our-values bg-white pt-sm-5 ">
        {{> ./partials/about/values}}

    </section>

    <section class="about-team pt-8 bg-white">
        {{> ./partials/about/ourteams }}
    </section>
</div>


{{> partials/components/footer }}
{{> partials/components/_end }}