{{> partials/components/header title=htmlWebpackPlugin.options.title}}

{{> partials/components/_preloader }}

{{> partials/components/navbar_mobile}}


<div class="comingsoon-wrapper ">
    <div class="container-fluid ">
        <div class="row px-sm-2">
            <div class="col-12">
                {{> ./partials/coming-soon/_navtop-comingsoon  className="navbar-dark"  classlink=" text-white-50 "  }}
            </div>
        </div>
    </div>

    <section class="comingsoon-main px-sm-2">
        <div class="container-fluid  h-100">

            <div class="row h-100 px-sm-2 d-flex justify-content-center align-items-center  pt-4 ">
                <div
                    class="col-md-10 text-center mx-auto order-2 order-md-1 d-flex align-content-center flex-column justify-content-center mt-8 md-md-1">

                    <h1 class=" text-white font-md-65px font-weight-bold ml-0 pl-0 ">Coming Soon...
                    </h1>
                    <p class="text-white-50 ">Halaman Ini Belum Tersedia</p>
                    <div class="mt-2">
                        <a href="" class="btn btn-outline-light rounded-pill"> <i class="fas fa-arrow-left mr-1"></i>
                            Kehalaman Utama </a>
                    </div>
                    <hr class=" border-light col-md-4 mt-5 border-top ">
                    <nav class="nav justify-content-center ">
                        <a class="nav-link  " href="#"> <i class="fab fa-facebook-f text-white "></i> </a>
                        <a class="nav-link" href="#"><i class="fab fa-instagram text-white"></i> </a>
                        <a class="nav-link" href="#"><i class="fab fa-twitter  text-white"></i></a>
                        <a class="nav-link" href="#"><i class="fas fa-envelope  text-white"></i></a>

                    </nav>
                </div>

            </div>
        </div>

    </section>



</div>
{{!--  --}}
{{> partials/components/_end }}