{{> partials/components/header title=htmlWebpackPlugin.options.title}}

<body>

    {{> partials/components/navbar_mobile}}
    {{> partials/components/_sidebar }}

    {{> partials/home/banner}}
    {{> partials/home/best-cars cars=cars }}
    {{> partials/home/service  }}
    {{> partials/home/free-rental freeCars=freeCars  }}
    {{> partials/home/about   }}
    {{> partials/home/testim clients=clients  }}

    {{> partials/components/footer}}

</body>

</html>