{{> partials/components/header title=htmlWebpackPlugin.options.title}}

{{> partials/components/_preloader }}

{{> partials/components/_sidebar menuStatus="d-none"}}

<div class="registrasi-content ">
    <div class=" bubble d-none d-md-flex "></div>
    <div class=" bubble-2  "></div>
    <div class="container-fluid registrasi-container p-2 p-md-4 px-0">
        <div class="col-12 mx-auto registrasi-card my-auto px-0">
            <div class="row d-flex px-0 h-100">
                <div class="col-lg-7 order-2 registrasi-auth py-3 px-4 ">
                    <div class="menu-btn menu-btn-dark  ">
                        <span class="menu-btn__burger"></span>
                    </div>
                    <div class="px-2 text-center">
                        <h4 class="text-dark font-20px font-md-24px">Welcome To</h4>
                        <h4 class="text-secondary font-25px font-md-5">Primerental Registration</h4>
                        <p class=" text-dark col-12 font-14px font-sm-17px col-lg-12 mx-auto ">
                            Silahkan bergabung dan menemukan mobil terbaik anda</p>

                        <form action="">
                            <div class="form-group row mt-3 col-12 col-md-8  col-lg-9 mx-auto">
                                <div class="input-group registrasi-group-input px-1">
                                    <div class="input-group-prepend mr-n1">
                                        <span
                                            class="input-group-text text-secondary bg-transparent border-0 font-weight-bold font-26px">
                                            <i class="fad fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control my-auto registrasi-input rounded-pill"
                                        placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group row mt-3 col-12 col-md-8 col-lg-9 mx-auto">
                                <div class="input-group registrasi-group-input px-1">
                                    <div class="input-group-prepend mr-n1">
                                        <span
                                            class="input-group-text text-secondary bg-transparent border-0 font-weight-bold font-26px">
                                            <i class="fad fa-at"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control my-auto registrasi-input rounded-pill"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group d-flex mt-3 col-12 col-md-8  col-lg-9 mx-auto">
                                <div class="input-group  registrasi-group-input px-1">
                                    <div class="input-group-prepend mr-n1 ">
                                        <span
                                            class="input-group-text text-secondary bg-transparent border-0 font-weight-bold font-26px">
                                            <i class="fad fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control registrasi-input rounded-pill"
                                        placeholder="Password ">
                                </div>
                                <div class="input-group ml-2  registrasi-group-input px-1">
                                    <div class="input-group-prepend mr-n1 ">
                                        <span
                                            class="input-group-text text-secondary bg-transparent border-0 font-weight-bold font-26px">
                                            <i class="fad fa-repeat-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control registrasi-input rounded-pill"
                                        placeholder="Repeat Password ">
                                </div>

                            </div>
                            <div class="form-group row mt-4 col-12 col-sm-10 col-md-8   col-lg-9 mx-auto">
                                <button type="submit"
                                    class=" btn btn-secondary btn-block rounded-pill text-primary registrasi-submit ">
                                    Registrasi</button>
                            </div>
                            <div class="d-flex text-center justify-content-center">
                                <span class=" text-muted mr-1  ">Sudah Punya Akun?</span>
                                <a class=" text-secondary " href="">Login Sekarang</a>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-5 d-none order-1 d-lg-flex justify-content-center registrasi-cover" style="background: linear-gradient(163deg, rgba(34,38,76,0.9220063025210083) 100%, rgba(61,66,108,0) 100%),
        url('./dist/static/img/bg/bg-registrasi.png') center top ;">
                    <div class="registrasi-cover-overlay"></div>
                    <div class="registrasi-cover-content text-primary ">
                        <h2 class=" display-4 ">PrimeRental</h2>
                        <p class=" font-18px text-primary-50    ">Sudah Punya Akun?</p>
                        <a class=" btn btn-primary rounded-pill px-5  text-secondary " href="login.html">
                            Login sekarang</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> partials/components/_end }}