{{> partials/components/header title=htmlWebpackPlugin.options.title}}

{{> partials/components/_preloader }}

{{> partials/components/navbar_mobile}}
{{> partials/components/_sidebar status=""}}


<div class="main-content">
    <section class="content_banner px-3 ">
        {{> ./partials/components/_navbar_top className="navbar-dark" classMenu="menu-btn menu-btn-light" classlink=" text-primary " btn="btn-secondary text-primary  "}}
        {{> ./partials/service/banner}}
    </section>
    <section class=" bg-light  pt-6 ">
        <div class="container my-6">
            <div class="row">
                <div class="col-sm-6 col-md-4 px-0">
                    <div class="card  bg-transparent border-0 shadow-none">
                        <div class="card-body text-secondary ">
                            <div class="row d-flex justify-content-between">
                                <div class="col-3 ">
                                    <i class=" fad fa-bath fa-4x  "></i>
                                </div>
                                <div class="col-9 pl-3 ">
                                    <h4 class=" text-uppercase ">
                                        Kebersihan
                                    </h4>
                                    <p>
                                        Mobil yang kami sediakan, Bersih , Nyaman, Terawat. Dengan Supir Profesiona
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 px-0">
                    <div class="card  bg-transparent border-0 shadow-none">
                        <div class="card-body text-secondary ">
                            <div class="row d-flex justify-content-between">
                                <div class="col-3 ">
                                    <i class=" fad fa-tools fa-4x  "></i>
                                </div>
                                <div class="col-9 pl-3 ">
                                    <h4 class=" text-uppercase ">
                                        BENGKEL & UNIT PENGGANTI
                                    </h4>
                                    <p>
                                        Kami memiliki bengkel sendiri dengan mekanik berkualitas yang akan menjamin
                                        perbaikan masalah dengan mobil yang Anda sewa dari kami.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 px-0">
                    <div class="card  bg-transparent border-0 shadow-none">
                        <div class="card-body text-secondary ">
                            <div class="row d-flex justify-content-between">
                                <div class="col-3 ">
                                    <i class=" fad fa-heartbeat  fa-4x  "></i>
                                </div>
                                <div class="col-9 pl-3 ">
                                    <h4 class=" text-uppercase ">
                                        Asuransi
                                    </h4>
                                    <p>
                                        Mobil yang disewakan telah diasuransikan sehingga menghindar resiko kerugian
                                        perusahan maupun costumer yang akan timbul terjadi kecelakaan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 px-0">
                    <div class="card  bg-transparent border-0 shadow-none">
                        <div class="card-body text-secondary ">
                            <div class="row d-flex justify-content-between">
                                <div class="col-3 ">
                                    <i class=" fad fa-phone fa-4x  "></i>
                                </div>
                                <div class="col-9 pl-3 ">
                                    <h4 class=" text-uppercase ">
                                        Lokasi
                                    </h4>
                                    <p>
                                        Costumer Serice kami siap melayani anda dalam 24jam/hari dalam seminggu
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

{{> partials/components/footer }}
{{> partials/components/_end }}