<!-- Banner -->
<div class="jumbotron jumbotron-fluid bg-white my-0 pt-0 pt-sm-2 pt-lg-3 banner pb-6 " style="overflow: hidden;">
    <div class="container-fluid h-100 px-0 mt-0 ">
        <div class="col-12 h-100">
            <div class="row pt-0 jumbotron__row">
                <!-- h-lg-100 -->
                <div class="col-md-1 d-none d-md-block py-sm-4 py-md-2  ">
                    <div class="menu-btn menu-btn-dark mx-auto mt-4  ">
                        <span class="menu-btn__burger"> </span>
                    </div>
                    <div
                        class="d-flex align-content-between justify-content-around align-items-center h-100 flex-column py-md-2">
                        <!-- sosmed nav-->
                        <div class="d-flex flex-column align-content-between justify-content-md-center ">
                            <a href="#" class="btn btn-secondary text-primary "><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-secondary text-primary mt-1"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-secondary text-primary mt-1"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-secondary text-primary mt-1"><i class="fal fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-md-none px-0 pt-2 pt-md-1 pb-3 ">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-sm navbar-light bg-transparent px-0">
                        <div class="container-fluid">
                            <div class="row px-2">
                                <div class="col-12">
                                    <div class="d-flex flex-row  justify-content-between">
                                        <a class="navbar-brand my-auto font-25px  " href=" #">PrimeRental</a>
                                    </div>

                                </div>

                                <div class="input-group mt-2 col-12">
                                    <input type="text" class="form-control bg-transparent  border-secondary "
                                        placeholder="Search" aria-label="Recipient's username"
                                        aria-describedby="search">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="search"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- /Navbar -->
                </div>
                <div class="col-12 col-md-11 pr-md-4 px-1 py-lg-0 ">
                    <div class="banner__card py-2 shadow ">
                        <div class="col-12 d-none d-md-inline-block px-0 pt-2 pt-md-1 ">
                            <!-- Navbar -->
                            <nav class="navbar navbar-expand-sm navbar-dark bg-transparent px-0">
                                <div class="container-md px-4 px-md-2 px-lg-4 ">
                                    <a class="navbar-brand font-lg-24px" href="#">PrimeRental</a>
                                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                        <div class="navbar-nav ml-auto font-montserrat">
                                            <a class="nav-item px-lg-2 nav-link text-primary" href="/">Home </a>
                                            <a class="nav-item px-lg-2 nav-link text-primary"
                                                href="list-cars.html">Mobil
                                                Kami</a>
                                            <a class="nav-item px-lg-2 nav-link text-primary " href="about.html">Tentang
                                            </a>
                                            <a class="nav-item ml-md-2 my-auto nav-link  text-primary" href="#">
                                                <i class="fas fa-search"></i>
                                            </a>
                                            <li class="nav-item dropdown pl-2 ">
                                                <a href="# " class="nav-link text-primary font-19px "
                                                    data-toggle="dropdown" id="btnProfileDropDown">
                                                    <i class="fas fa-user "></i>
                                                </a>
                                                <div
                                                    class="dropdown-menu dropdown-menu-right bg-secondary text-primary profileDropDown ">
                                                    <div class=" dropdown-menu-nav nav">
                                                        <a href="#" class="nav-link text-primary"> <i
                                                                class=" fad fa-sign-in-alt fa-fw mr-1 ">
                                                            </i>
                                                            <span>Masuk</span></a>
                                                        <a href="#" class="nav-link text-primary">
                                                            <i class="fa-fw fad fa-user-plus"></i>
                                                            <span class=" ml-1 ">Registrasi</span></a>

                                                    </div>

                                                </div>
                                            </li>
                                        </div>

                                    </div>
                                </div>

                            </nav>
                            <!-- /Navbar -->

                        </div>
                        <div class="col-12 my-auto">
                            <div class="row px-2 d-flex ">
                                <div class="col-12 col-md-7  col-lg-6 col-xl-5 pl-xl-4  pr-0  ">
                                    <div class="row  h-100  align-content-center ">
                                        <div class="col-md-10 ">
                                            <span
                                                class=" text-primary-70 mb-2 text-left font-13px font-md-23px  ">Tunggu
                                                Apa
                                                Lagi?</span>
                                        </div>
                                        <div class="col-md-12 ">
                                            <p class="text-white  font-20px font-md-28px font-lg-6 text-capitalize">
                                                sangat mudah
                                                untuk Anda
                                                menyewa
                                                mobil</p>
                                        </div>
                                        <div class="col-md-10 ">
                                            <a href="#
                                                "
                                                class="btn btn-primary text-secondary rounded-pill d-none d-md-inline-block ">Explore
                                                Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12  col-md-5 col-lg-6 col-xl-7 px-md-0">
                                    <div class="row d-flex">
                                        <div class="order-1 col-6 offset-md-0 col-md-12">
                                            <img class="img-fluid" src="dist/static/img/imgbanner.png" alt="">
                                        </div>
                                        <div
                                            class="order-2 col-6 ml-auto col-md-10 d-flex justify-content-center text-primary flex-column align-items-start  ">
                                            <p class=" font-20px font-sm-24px font-lg-5 mb-1  ">Toyota Fortuner
                                            </p>
                                            <p class=" font-md-18px font-lg-30px  text-primary-70 mt-md-n5 mt-n5 ">
                                                Rp.
                                                1.000.000/hari
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Banner -->