<section class="free-rental">
    <div class="container pb-10 font-montserrat   ">
        <div class="row pb-5 ">
            <div class="col-12 my-4 pt-md-5 text-center">
                <span style="font-weight: 600;" class=" bg-secondary rounded-sm font-5 font-md-9 px-2 text-primary">
                    Bebas</span>
                <span class="text-white font-5 font-md-9 text-secondary ">Sewa</span>
            </div>
        </div>
        <!-- row cards -->
        <div class="row pt-md-5 px-4 d-flex ">
            {{#each freeCars as |car| }}
            <div class="col free-rental-col col-sm-6 col-md-3 mb-6 ">
                {{> ../components/card-free-rental className="free-rental__card"  image=car.image brand=car.brand price=car.price type=car.type  }}
            </div>
            {{/each}}


        </div>
</section>