<!-- service -->
<section class="service px-md-4 bg-white">
    <div class="container-fluid pb-10 bg-secondary font-montserrat   ">
        <div class="row  ">
            <div class="col-12 my-4 pt-md-5 text-center">
                <span style="font-weight: 600;" class=" bg-secondary-70 rounded-sm font-5  font-md-9 px-2 text-white">
                    Layanan</span>
                <span class="text-white font-5  font-md-9 text-primary ">Kami</span>
            </div>
        </div>
        <!-- row cards -->
        <div class="row pt-4 pt-md-5 px-4 d-flex ">
            <!-- single card -->
            <div class="col-10 mx-auto col-md-6 col-lg-3 d-flex">
                <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                    <div class="card-header bg-transparent border-0 text-center pt-4">
                        <i class="fas fa-bath font-9  "></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase ">Kebersihan</h5>
                        <p class="card-text mt-3 text-white-50">Mobil yang kami sediakan, Bersih , Nyaman, Terawat.
                            Dengan Supir
                            Profesiona</p>
                    </div>
                </div>
            </div>
            <!-- /single card -->
            <!-- single card -->
            <div class="col-10 mx-auto col-md-6 col-lg-3 d-flex">
                <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                    <div class="card-header bg-transparent border-0 text-center pt-4">
                        <i class="fas fa-tools font-9  "></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase ">BENGKEL & UNIT PENGGANTI</h5>
                        <p class="card-text mt-3 text-white-50">Mobil yang kami sediakan, Bersih , Nyaman, Terawat.
                            Dengan Supir Profesiona</p>
                    </div>
                </div>
            </div>
            <!-- /single card -->
            <!-- single card -->
            <div class="col-10 mx-auto col-md-6 col-lg-3 d-flex">
                <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                    <div class="card-header bg-transparent border-0 text-center pt-4">
                        <i class="fas  fa-heartbeat font-9  "></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase ">ASURANSI</h5>
                        <p class="card-text mt-3 text-white-50">Mobil yang disewakan telah diAsuransikan sehingga
                            menghindar resiko kerugian perusahan maupun costumer yang akan timbul terjadi kecelakaan
                        </p>
                    </div>
                </div>
            </div>
            <!-- /single card -->
            <!-- single card -->
            <div class=" col-10 mx-auto col-md-6 col-lg-3 d-flex">
                <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                    <div class="card-header bg-transparent border-0 text-center pt-4">
                        <i class="fas fa-phone font-9  "></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase ">KOMUNIKASI</h5>
                        <p class="card-text mt-3 text-white-50">Costumer Serice kami siap melayani anda dalam
                            24jam/hari dalam seminggu
                        </p>
                    </div>
                </div>
            </div>
            <!-- /single card -->
        </div>
        <!-- /row cards -->
    </div>
</section>