<aside class="sidebar {{status}} ">
    <div class="container px-4 pt-3">
        <!-- <div class="col-12 text-right px-0">
        <div class="menu-btn mt-4 ml-auto">
            <span class="menu-btn__burger"> </span>
        </div>
    </div> -->
        <div class="menu-btn menu-btn-light ml-auto ">
            <span class="menu-btn__burger "> </span>
        </div>
        <div class="row mb-4 pt-3">
            <div class="col px-0">
                <img class="  img-fluid rounded-circle shadow-sm " src="assets/dist/static/img/clients/client2.png"
                    alt="">
            </div>
            <div class="col my-auto">
                <h4 class=" font-weight-bold text-light ">Username</h4>
                <small class=" text-primary-50 ">username@gmail.com</small>

            </div>
        </div>
        <hr class="w-100 bg-secondary-70 ">
        <nav class="nav d-flex flex-column px-0 mt-2 mb-3 ">
            <a class="flex-sm-fill nav-link " href="#"><i
                    class="far fa-tachometer mr-1 fa-fw"></i><span>Dashboard</span></a>
            <a class="flex-sm-fill nav-link " href="#"><i class="fal fa-user mr-1 fa-fw"></i><span>Akun Saya</span></a>
            <a class="flex-sm-fill nav-link  " href="#"><i class="fal fa-shopping-bag mr-1 fa-fw"></i><span>Pesanan
                    Saya</span></a>

        </nav>
        <hr class="w-100 bg-secondary-70 ">
        <nav class="nav d-flex flex-column px-0 mt-2 mb-3 ">
            <a class="flex-sm-fill nav-link " href="/"><i class="fal fa-fw mr-1 fa-home"></i><span>Beranda</span></a>
            <a class="flex-sm-fill nav-link " href="#"><i class="fal fa-fw mr-1 fa-car-mechanic"></i><span>Syarat &
                    Ketentuan</span></a>
            <a class="flex-sm-fill nav-link  " href="#"><i class="fal fa-cash-register  mr-1 fa-fw"></i><span>Sewa &
                    Pembayaran</span></a>
            <a class="flex-sm-fill nav-link  " href="#"><i class="fab fa-teamspeak  mr-1 fa-fw"></i><span>FAQ</span></a>

        </nav>
    </div>
</aside>