<div class="card testimonial__card px-0 pt-14  " style="width: 18rem;">
    <img src="{{image}}" class="card-img-top mx-auto" alt="...">
    <div class="card-body bg-secondary text-center pt-12 pb-5 ">
        <h5 class="card-title text-primary font-40px font-md-30px ">{{name}}</h5>
        <p class="card-text text-white-50 ">{{message}}</p>
    </div>
</div>