<div class="card free-rental__card text-center border-0 ">
    <img class="card-img" src="{{image}}" alt="">
    <div class="card-body d-flex flex-column justify-content-between">
        <h6 class="card__brand">{{brand}}</h6>
        <h5 class="card__type text-center font-md-20px">{{type}}</h5>
        <h5 class="card__price ">{{price}}/hari</h5>
        <div class=" d-flex  text-warning justify-content-center  ">
            <i class="fas fa-star "></i>
            <i class="fas fa-star  ml-1"></i>
            <i class="fas fa-star  ml-1"></i>
            <i class="fas fa-star-half-alt  ml-1"></i>
            <i class="far fa-star  ml-1"></i>
        </div>
        <div class="d-flex mt-2">
            <a href="form-rental.html" class="btn card__btn-sewa btn-block mr-1 ">Sewa</a>
            <a href="detail.html" class="btn card__btn-detail ">
                Detail
            </a>
        </div>
    </div>
</div>