<div class="card free-rental__card text-center ">
    <img class="img-fluid" src="{{image}}" alt="">
    <div class="card-body d-flex flex-column justify-content-between">
        <h6 class="card__brand">{{brand}}</h6>
        <h5 class="card__type text-center font-md-20px">{{type}}</h5>
        <h5 class="card__price ">{{price}}/hari</h5>
        <div class="d-flex mt-2">
            <a href="" class="btn card__btn-sewa btn-block mr-1 ">Sewa</a>
            <a href="detail.html" class="btn card__btn-detail ">
                Detail
            </a>
        </div>
    </div>
</div>