<footer class="footer pt-5 px-md-4">
    <div class="container-fluid pt-md-5">

        <div class="row pb-8">
            <div class="col-md-6 col-lg-3  mt-3 mx-auto ">
                <h4 class=" font-4 text-white font-weight-bold ">About PrimeRental</h4>
                <p class="text-white-50 font-15px font-md-16px mt-2 mt-md-4 text-lowercase  "><span
                        class=" text-capitalize ">P</span>rime rental Merupakan Rental
                    Mobil Jakarta,
                    yang berdiri Sejak
                    Tahun
                    2008, juga
                    telah
                    Melayani
                    Ribuan Client, yang Semuanya PUAS Akan Kinerja Kami.
                </p>
                <nav class="nav d-flex flex-row mt-5 ml-lg-n5  ">
                    <a class="btn btn--socialmedia text-white-50" href="#"><i
                            class="fab fa-facebook-f fa-2x fa-fw"></i></a>
                    <a class="btn btn--socialmedia text-white-50 " href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a class="btn btn--socialmedia text-white-50 " href="#"><i
                            class="fab fa-twitter fa-fw fa-2x"></i></a>
                    <a class="btn btn--socialmedia text-white-50 " href="#"><i
                            class="fas fa-envelope fa-fw fa-2x"></i></a>
                </nav>
            </div>
            <div class="col-md-6 col-lg-3 mt-3 mx-auto">
                <h4 class=" font-4 text-white font-weight-bold ">Informasi</h4>
                <ul class="nav flex-column font-17px mt-2 mt-md-3 px-0 font-18px">
                    <li class="nav-item ml-n2 ">
                        <a class="nav-link text-white-50" href="#">Tentang</a>
                    </li>
                    <li class="nav-item ml-n2">
                        <a class="nav-link text-white-50" href="#">Layanan</a>
                    </li>
                    <li class="nav-item ml-n2">
                        <a class="nav-link text-white-50" href="#">Syarat & Ketentuan</a>
                    </li>

                </ul>

            </div>
            <div class="col-md-6 col-lg-3 mt-3 mx-auto ">
                <h4 class=" font-4 text-white font-weight-bold "> Pelanggan</h4>
                <ul class="nav flex-column font-17px mt-2 mt-md-3 px-0  font-18px">
                    <li class="nav-item ml-n2 ">
                        <a class="nav-link text-white-50" href="#">FAQ</a>
                    </li>
                    <li class="nav-item ml-n2">
                        <a class="nav-link text-white-50" href="#">Cara Pembayaran</a>
                    </li>
                    <li class="nav-item ml-n2">
                        <a class="nav-link text-white-50" href="#">Kontak</a>
                    </li>

                </ul>

            </div>

            <div class="col-md-6 col-lg-3 mt-3 mx-auto">
                <h4 class=" font-4 text-white font-weight-bold ">Punya Pertanyaan?</h4>
                <div class="text-white-50 mt-2 mt-md-3">
                    <div class=" d-flex ">
                        <i class="fad fa-map-marker-alt fa-fw mr-2"></i>
                        <p>
                            Jl. Raya Jatiwaringin RT.005/RW.002, Jatiwaringin Kec. Pondokgede Kota Bks Jawa Barat 17411
                        </p>
                    </div>
                    <div class="d-flex ">
                        <i class="fad fa-phone fa-fw"></i>
                        <p class="ml-1 mr-auto">+62-852-5433-8100</p>
                    </div>
                    <div class="d-flex flex-row ">
                        <i class="fad fa-envelope fa-fw"></i>
                        <p style="margin-top: -3px;" class="ml-1 ">Wahidin@gmail.com</p>
                    </div>


                </div>
            </div>
        </div>
        <div class="row mt-5 pb-20 pb-md-8 ">
            <div class="col-12 text-center text-white">
                <p class=" font-23px ">Universitas BSI©2020 All rights reserved | by Prime</p>
            </div>
        </div>

    </div>
</footer>