<nav class="navbar navbar-light bg-secondary d-md-none fixed-bottom d-flex shadow shadow-sm pb-2">
    <!-- navbar mobile -->
    <a class="nav-item nav-link px-0 text-center" href="about.html">
        <i class="fal fa-fw font-20px  fa-info-circle"></i>
        <br>
        <span class="font-14px">Tentang</span>
    </a>
    <a class="nav-item nav-link px-0 text-center" href="list-cars.html"><i class="fal font-20px fa-fw fa-car"></i><br>
        <span class="font-14px">Mobil Kami</span>
    </a>
    <a class="nav-item btn btn-primary text-secondary font-weight-bold  mx-0 text-center  " href="/"><i
            class=" fal font-20px font-weight-bold  fa-fw fa-home"></i> <br>
        <span class="font-14px ">Home</span>
    </a>
    <a class="nav-item text-center nav-link px-0" href="#"><i class="fal fa-user font-20px fa-fw"></i> <br><span
            class="font-14px">
            Akun
        </span>
    </a>
    <a class="nav-item nav-link px-0 text-center btn--trigersidebar " href="#"><i
            class="fas font-20px font-20px fa-fw fa-indent"></i><br>
        <span class="font-14px">Menu</span></a>
    <!-- </div> -->
</nav>