.testimonial {
	&__content {
		margin-top: 2rem;

		height: 100% !important;
		position: relative;
		background-color: rgba(201, 189, 189, 0);
		overflow-y: unset !important;
	}

	&__card {
		background: transparent !important;
		border: 0 !important;
		position: relative;
		width: 100% !important;
		overflow-y: unset !important;

		img {
			border: 1px solid rgba(128, 128, 128, 0.664);
			background-color: rgba($primary, $alpha: 1);
			border-radius: 50%;
			top: 0;
			left: 0;
			right: 0;
			height: 200px;
			width: 200px;
			object-fit: cover;
			z-index: 5;
			position: absolute;
		}

		.card-body {
			box-shadow: 0 0 0.5rem rgba(32, 32, 32, 0.918);
			border-radius: 11px;
		}
	}

	.swiper__nav {
		// margin: 0 -20px;
		position: absolute;
		top: 40%;
		z-index: 2;
		text-shadow: 1px;

		&-prev {
			left: 0rem;
		}
		&-next {
			right: -1.5rem;
		}

		&.swiper-button-disabled {
			display: none !important;
			cursor: default;
			color: rgba($secondary, $alpha: 0.4) !important;
		}
	}
}

@include media-breakpoint-down(sm) {
	.testimonial {
		.swiper__nav {
			// margin: 0 -20px;
			position: absolute;
			top: 40%;
			z-index: 2;
			text-shadow: 1px;

			&-prev {
				left: -1.5rem;
			}
			&-next {
				right: -1.5rem;
			}

			&.swiper-button-disabled {
				display: none !important;
				cursor: default;
				color: rgba($secondary, $alpha: 0.4) !important;
			}
		}
	}
}

@include media-breakpoint-only(md) {
	.testimonial {
		overflow-x: hidden !important;
		.swiper__nav {
			// margin: 0 -20px;
			position: absolute;
			top: 40%;
			z-index: 2;
			text-shadow: 1px;

			&-prev {
				left: 0rem;
			}
			&-next {
				right: -1.5rem;
			}

			&.swiper-button-disabled {
				display: none !important;
				cursor: default;
				color: rgba($secondary, $alpha: 0.4) !important;
			}
		}
	}
}
