<div class="container-fluid">
    <nav aria-label="breadcrumb  " class=" bg-transparent ml-n8 ">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item text-secondary  my-auto font-25px font-weight-bold ">Transaksi</li>

        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-11 mx-auto">
            <div class="card border-0 table-responsive-md ">
                <table class="table">
                    <thead class=" thead-light ">
                        <tr>
                            <th scope="col" class=" text-black-50 font-13px  ">#</th>
                            <th scope="col" colspan="2" class=" text-black-50 font-13px  ">Mobil</th>
                            <th scope="col" class=" text-black-50 font-13px  ">Type Sewa</th>
                            <th scope="col" class=" text-black-50 font-13px  ">Tgl Transaksi</th>
                            <th scope="col" class=" text-black-50 font-13px  ">Tgl Mulai</th>
                            <th scope="col" class=" text-black-50 font-13px  ">Total Harga</th>
                            <th scope="col" class=" text-black-50 font-13px  ">Status</th>
                            <th scope="col" class=" text-black-50 font-13px  ">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td colspan="2">
                                <div class="d-flex align-items-center flex-nowrap ">
                                    <img height="80" class="" src="dist/static/img/datsun-go.png" alt="">
                                    <div class="ml-1 text-wrap">
                                        <p class=" font-14px w-100  mb-n1 font-weight-bold ">Datsun Go</p>
                                        <small class="mt-0 text-black-50 ">Hatback</small>
                                    </div>
                                </div>
                            </td>
                            <td>Pakai Supir</td>
                            <td>20/05/2020</td>
                            <td>20/05/2020</td>
                            <td>Rp. 600.000</td>
                            <td>
                                <span class=" badge badge-warning ">Menunggu Pembyaran</span>
                            </td>
                            <td>
                                <div class="d-flex  ">
                                    <a href="invoice.html" class="btn btn-info btn-sm tooltip--costum ">
                                        <i class="fad fa-file-invoice"></i>
                                        <span class="tooltip--item ">invoice</span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-sm ml-1 tooltip--costum">
                                        <i class="fad fa-times-octagon "></i>
                                        <span class=" tooltip--item ">Batalkan Transaksi</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td colspan="2">
                                <div class="d-flex align-items-center flex-nowrap ">
                                    <img height="80" class="" src="dist/static/img/honda_brio.png" alt="">
                                    <div class="ml-1 text-wrap">
                                        <p class=" font-14px w-100  mb-n1 font-weight-bold ">Datsun Go</p>
                                        <small class="mt-0 text-black-50 ">Hatback</small>
                                    </div>
                                </div>
                            </td>
                            <td>Pakai Supir</td>
                            <td>20/05/2020</td>
                            <td>20/05/2020</td>
                            <td>Rp. 600.000</td>
                            <td>
                                <span class=" badge badge-success ">Selesai</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>