<div class="container-fluid pb-10">
    <div class="row pb-5 ">
        <div class="col-12 my-4 pt-md-5 text-center">
            <span style="font-weight: 600;" class=" bg-secondary rounded-sm font-5 font-md-9 px-2 text-primary">
                Testi</span>
            <span class="text-white font-5 font-md-9 text-secondary ">monial</span>
        </div>
    </div>
    <!-- row cards -->
    <div class="row pt-md-5 px-4 d-flex testimonial__content">
        <div class="col-md-8 col-lg-6  mx-auto my-auto">
            <!-- Swiper -->
            <div class="swiper-container slider-testim ">
                <div class="swiper-wrapper pb-3 mb-4">
                    <div class="swiper-slide px-md-9">
                        <div class="card testimonial__card px-0 pt-14  " style="width: 18rem;">
                            <img src="../../src/img/client1.jpg" class="card-img-top mx-auto" alt="...">
                            <div class="card-body bg-secondary text-center pt-12 pb-5 ">
                                <h5 class="card-title text-primary font-40px font-md-30px ">Carla Stevens</h5>
                                <p class="card-text text-white-50 ">Some quick example text to build on the card title
                                    and make up the
                                    bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-md-9">
                        <div class="card testimonial__card px-0 pt-14  " style="width: 18rem;">
                            <img src="../../src/img/client2.png" class="card-img-top mx-auto" alt="...">
                            <div class="card-body bg-secondary text-center pt-12 pb-5 ">
                                <h5 class="card-title text-primary font-40px font-md-30px ">Skylar</h5>
                                <p class="card-text text-white-50 ">Some quick example text to build on the card title
                                    and make up the
                                    bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-md-9">
                        <div class="card testimonial__card px-0 pt-14  " style="width: 18rem;">
                            <img src="../../src/img/client3.png" class="card-img-top mx-auto" alt="...">
                            <div class="card-body bg-secondary text-center pt-12 pb-5 ">
                                <h5 class="card-title text-primary font-40px font-md-30px ">John Doe</h5>
                                <p class="card-text text-white-50 ">Some quick example text to build on the card title
                                    and make up the
                                    bulk of the card's content Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Officia, expedita?</p>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination "></div>
            </div>
            <a href="#" class=" text-secondary swiper__nav swiper__nav-prev p-1 ">
                <i class="fas fa-angle-left fa-3x"></i>
            </a>
            <a href="#" class="text-secondary  swiper__nav swiper__nav-next  p-1 mr-md-5 ">
                <i class="fas fa-angle-right fa-3x"></i>
            </a>

        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-6 my-auto">
            <img class="  img-fluid" src="../../src/svg/testim.svg" alt="">
        </div>
    </div>

</div>