<footer class=" dashboard--footer bottom-0  ">
    <div class="container-fluid">
        <div class="d-flex row justify-content-between">
            <div class="col-6 my-auto">
                <p>
                    Universitas BSI©2020 All rights reserved |<a href="" class=" text-secondary ">Muhammad Akbar</a>
                </p>
            </div>
            <div class="col-6 d-flex justify-content-end ">
                <a href="" class="my-auto nav-link "><i class="fab text-secondary fa-2x fa-facebook-f"></i></a>
                <a href="" class="my-auto nav-link"><i class="fab text-secondary fa-2x fa-twitter "></i></a>
                <a href="" class="my-auto nav-link"><i class="fab text-secondary fa-2x fa-instagram  "></i></a>
            </div>
        </div>
    </div>
</footer>