<div class="container-fluid pb-10 font-montserrat bg-secondary   ">
    <div class="row ">
        <div class="col-md-6 ml-auto my-4 pt-md-5 text-center text-md-left pr-4">
            <span class="text-white font-6  font-md-9 text-primary ">Tentang</span>
            <span style="font-weight: 600;" class=" bg-secondary-70 rounded-sm font-5  font-md-9 px-2 text-white">
                Kami</span>
        </div>
    </div>

    <div class="row pb-5 px-4 d-flex ">
        <div class="col-md-6 my-auto pb-9">
            <img class=" img-fluid" src="../src/svg/about vektor.svg" alt="">
        </div>
        <div class="col-md-6 my-auto ">
            <h4 class="text-primary font-55px">PrimeRental</h4>
            <p class="text-white-50 text-center text-md-left "><span class=" text-light">Primerental</span> adalah
                perusahaan penyedia jasa
                rental mobil terbaik di Jabodetabek.

            </p>
            <p class="text-white-50 text-center text-md-left ">Perusahaan ini telah berdiri sejak tahun 2008 dan
                melayani perorangan maupun
                perusahaan dengan komitmen untuk memberikan pelayanan terbaik, berkualitas, dan berpengalaman di
                bidangnya..
            </p>
            <a href="" class=" text-primary-70 mt-3  ">Selengkapnya...</a>
        </div>
    </div>
</div>