<div class="container-fluid pb-10">
    <div class="row pb-5 ">
        <div class="col-12 my-4 pt-md-5 text-center">
            <span style="font-weight: 600;" class=" bg-secondary rounded-sm font-5 font-md-9 px-2 text-primary">
                Testi</span>
            <span class="text-white font-5 font-md-9 text-secondary ">monial</span>
        </div>
    </div>
    <!-- row cards -->
    <div class="row pt-md-5 px-4 d-flex testimonial__content">
        <div class="col-md-12 col-lg-9 mx-auto my-auto">
            <!-- Swiper -->
            <div class="swiper-container slider-testim ">
                <div class="swiper-wrapper pb-3">
                    <div class="swiper-slide px-md-9 ">
                        <div class="card border-0 mb-3 testimonial__card bg-secondary pt-lg-0 ">
                            <div class="row ">
                                <div class="col-lg-4 position-relative ">
                                    <img src="../src/img/client-pic-1 1.png" class="testimonial__card-img img-fluid"
                                        alt="...">
                                </div>
                                <div class="col_card col-12 col-lg-8 pl-lg-0">
                                    <div class="card-body pt-md-6  ">
                                        <h5 class="card-title text-primary font-5 ">Carla Stevens</h5>
                                        <hr>
                                        <p class="card-text text-white-50 ">This is a wider card with supporting text
                                            below
                                            as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-md-9 ">
                        <div class="card border-0 mb-3 testimonial__card bg-secondary pt-lg-0 ">
                            <div class="row ">
                                <div class="col-lg-4 position-relative ">
                                    <img src="../src/img/client-pic-1 1.png" class="testimonial__card-img img-fluid"
                                        alt="...">
                                </div>
                                <div class="col_card col-12 col-lg-8 pl-lg-0">
                                    <div class="card-body pt-md-6  ">
                                        <h5 class="card-title text-primary font-5 ">Carla Stevens</h5>
                                        <hr>
                                        <p class="card-text text-white-50 ">This is a wider card with supporting text
                                            below
                                            as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide px-md-9 ">
                        <div class="card border-0 mb-3 testimonial__card bg-secondary pt-lg-0 ">
                            <div class="row ">
                                <div class="col-lg-4 position-relative ">
                                    <img src="../src/img/client-pic-1 1.png" class="testimonial__card-img img-fluid"
                                        alt="...">
                                </div>
                                <div class="col_card col-12 col-lg-8 pl-lg-0">
                                    <div class="card-body pt-md-6  ">
                                        <h5 class="card-title text-primary font-5 ">Carla Stevens</h5>
                                        <hr>
                                        <p class="card-text text-white-50 ">This is a wider card with supporting text
                                            below
                                            as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Add Arrows -->
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                <!-- Add Pagination -->
                <div class="swiper-pagination mt-4"></div>


            </div>

            <a href="#" class=" text-secondary swiper__nav swiper__nav-prev p-1 ">
                <i class="fas fa-angle-left fa-3x"></i>
            </a>
            <a href="#" class="text-secondary  swiper__nav swiper__nav-next  p-1 ">
                <i class="fas fa-angle-right fa-3x"></i>
            </a>

        </div>
    </div>

</div>