<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home </title>
</head>

<body>

    <nav class="navbar navbar-light bg-secondary d-md-none fixed-bottom d-flex shadow shadow-sm pb-2">
        <!-- navbar mobile -->
        <a class="nav-item nav-link text-center  " href="#"> <i class=" fas font-20px  fa-fw fa-home"></i> <br>
            <span class="font-14px">Home</span></a>
        <a class="nav-item nav-link text-center" href="#"><i class="fas font-20px fa-fw fa-car"></i><br>
            <span class="font-14px">Mobil Kami</span></a>
        <a class="btn btn-primary text-secondary " href="#"><i
                class="fas font-20px font-20px fa-fw fa-layer-group"></i><br>
            <span class="font-14px">More</span></a>

        <a class="nav-item nav-link text-center" href="#">
            <i class="fas fa-fw font-20px  fa-info-circle"></i>
            <br>
            <span class="font-14px">Tentang</span></a>
        <a class="nav-item nav-link text-center" href="#"><i class="fas fa-user font-20px fa-fw"></i> <br><span
                class="font-14px">
                Akun
            </span></a>
        <!-- </div> -->
    </nav>

    <!-- Banner -->
    <div class="jumbotron jumbotron-fluid bg-white my-0 pt-0 pt-sm-2 pt-lg-3 banner pb-6 " style="overflow: hidden;">
        <div class="container-fluid h-100 px-0 mt-0 ">
            <div class="col-12 h-100">
                <div class="row pt-0 jumbotron__row">
                    <!-- h-lg-100 -->
                    <div class="col-md-1 d-none d-md-block py-sm-4 py-md-2  ">
                        <div
                            class="d-flex align-content-between justify-content-between align-items-center h-100 flex-column py-md-2">
                            <div class="menu-btn mx-auto">
                                <span class="menu-btn__burger"> </span>
                            </div>

                            <!-- sosmed nav-->
                            <div class="d-flex flex-column align-content-between justify-content-md-center ">
                                <a href="#" class="btn btn-secondary">@</a>
                                <a href="#" class="btn btn-secondary mt-1">@</a>
                                <a href="#" class="btn btn-secondary mt-1">@</a>
                                <a href="#" class="btn btn-secondary mt-1">@</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-md-none px-0 pt-2 pt-md-1 pb-3 ">
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-sm navbar-light bg-transparent px-0">
                            <div class="container-fluid">
                                <div class="row px-2">
                                    <a class="navbar-brand font-25px col-12 " href=" #">PrimeRental</a>
                                    <div class="input-group mt-2 col-12">
                                        <input type="text" class="form-control bg-transparent  border-secondary "
                                            placeholder="Search" aria-label="Recipient's username"
                                            aria-describedby="search">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="search"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!-- /Navbar -->
                    </div>
                    <div class="col-12 col-md-11 pr-md-4 px-1 py-lg-0 ">
                        <div class="banner__card py-2 shadow ">
                            <div class="col-12 d-none d-md-inline-block px-0 pt-2 pt-md-1 ">
                                <!-- Navbar -->
                                <nav class="navbar navbar-expand-sm navbar-dark bg-transparent px-0">
                                    <div class="container-md px-4 px-md-2 px-lg-4 ">
                                        <a class="navbar-brand font-lg-24px " href="#">PrimeRental</a>
                                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                            <div class="navbar-nav ml-auto font-montserrat">
                                                <a class="nav-item px-lg-2 nav-link text-primary" href="#">Home </a>
                                                <a class="nav-item px-lg-2 nav-link text-primary" href="#">Mobil
                                                    Kami</a>
                                                <a class="nav-item px-lg-2 nav-link text-primary" href="#">Tentang</a>
                                                <a class="nav-item ml-lg-2 px-2 nav-link btn btn-primary text-secondary "
                                                    href="#">Login</a>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                                <!-- /Navbar -->
                            </div>
                            <div class="col-12 my-auto">
                                <div class="row px-2 d-flex ">
                                    <div class="col-12 col-md-7  col-lg-6 col-xl-5 pl-xl-4  pr-0  ">
                                        <div class="row  h-100  align-content-center ">
                                            <div class="col-md-10 ">
                                                <span
                                                    class=" text-primary-70 mb-2 text-left font-13px font-md-23px  ">Tunggu
                                                    Apa
                                                    Lagi?</span>
                                            </div>
                                            <div class="col-md-12 ">
                                                <p class="text-white  font-20px font-md-28px font-lg-6 text-capitalize">
                                                    sangat mudah
                                                    untuk Anda
                                                    menyewa
                                                    mobil</p>
                                            </div>
                                            <div class="col-md-10 ">
                                                <a href="#
                                                "
                                                    class="btn btn-primary text-secondary rounded-pill d-none d-md-inline-block ">Explore
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12  col-md-5 col-lg-6 col-xl-7 px-md-0">
                                        <div class="row d-flex">
                                            <div class="order-1 col-6 offset-md-0 col-md-12">
                                                <img class="img-fluid" src="../src/img/imgbanner.png" alt="">
                                            </div>
                                            <div
                                                class="order-2 col-6 ml-auto col-md-10 d-flex justify-content-center text-primary flex-column align-items-start  ">
                                                <p class=" font-20px font-sm-24px font-lg-5 mb-1  ">Toyota Fortuner
                                                </p>
                                                <p class=" font-md-18px font-lg-30px  text-primary-70 mt-md-n5 mt-n5 ">
                                                    Rp.
                                                    1.000.000/hari
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

    <section class=" best__cars "></section>

    <!-- service -->
    <section class="service px-4 bg-white   ">
        <div class="container-fluid pb-10 bg-secondary font-montserrat   ">
            <div class="row ">
                <div class="col-12 my-4 pt-md-5 text-center">
                    <span style="font-weight: 600;" class=" bg-secondary-70 rounded-sm font-md-9 px-2 text-white">
                        Layanan</span>
                    <span class="text-white font-md-9 text-primary ">Kami</span>
                </div>
            </div>
            <!-- row cards -->
            <div class="row pt-md-5 px-4 d-flex ">
                <!-- single card -->
                <div class="col-10 mx-auto col-md-6 col-lg-3 d-flex">
                    <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                        <div class="card-header bg-transparent border-0 text-center pt-4">
                            <i class="fas fa-bath font-md-9 "></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase ">Kebersihan</h5>
                            <p class="card-text mt-3 text-white-50">Mobil yang kami sediakan, Bersih , Nyaman, Terawat.
                                Dengan Supir
                                Profesiona</p>
                        </div>
                    </div>
                </div>
                <!-- /single card -->
                <!-- single card -->
                <div class="col-10 mx-auto col-md-6 col-lg-3 d-flex">
                    <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                        <div class="card-header bg-transparent border-0 text-center pt-4">
                            <i class="fas fa-tools font-md-9 "></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase ">BENGKEL & UNIT PENGGANTI</h5>
                            <p class="card-text mt-3 text-white-50">Mobil yang kami sediakan, Bersih , Nyaman, Terawat.
                                Dengan Supir Profesiona</p>
                        </div>
                    </div>
                </div>
                <!-- /single card -->
                <!-- single card -->
                <div class="col-10 mx-auto col-md-6 col-lg-3 d-flex">
                    <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                        <div class="card-header bg-transparent border-0 text-center pt-4">
                            <i class="fas fa-heartbeat font-md-9 "></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase ">ASURANSI</h5>
                            <p class="card-text mt-3 text-white-50">Mobil yang disewakan telah diAsuransikan sehingga
                                menghindar resiko kerugian perusahan maupun costumer yang akan timbul terjadi kecelakaan
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /single card -->
                <!-- single card -->
                <div class="col-10 mx-auto col-md-6 col-lg-3 d-flex">
                    <div class="card bg-transparent py-3 border-0 rounded text-primary  service__card ">
                        <div class="card-header bg-transparent border-0 text-center pt-4">
                            <i class="fas fa-heartbeat font-md-9 "></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase ">KOMUNIKASI</h5>
                            <p class="card-text mt-3 text-white-50">Costumer Serice kami siap melayani anda dalam
                                24jam/hari dalam seminggu
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /single card -->
            </div>
            <!-- /row cards -->
        </div>
    </section>



    <script src="https://kit.fontawesome.com/de02adfe9b.js" crossorigin="anonymous"></script>
</body>

</html>