<div class="container-fluid pb-10">
    <div class="row ">
        <div class="col-12 my-4 pt-md-5 pb-md-4 text-center">
            <span class="text-white font-md-9 text-secondary ">Mobil</span>
            <span style="font-weight: 600;" class=" bg-secondary rounded-sm font-md-9 px-2 text-primary">
                Terbaik</span>
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class="col-12  ">
            <!-- Swiper -->
            <div class="swiper-container slider-cars swiper position-relative mx-auto px-3">
                <div class="swiper-wrapper  ">
                    <div class="swiper-slide ">
                        <div class="card swiper--card ">
                            <img class="img-fluid" src="../src/img/imgbanner.png" alt="">
                            <div class="card-body">
                                <h6 class="card__brand">Toyota</h6>
                                <h5 class="card__type font-md-20px">MPV</h5>
                                <h5 class="card__price ">Rp. 1.500.000/hari</h5>
                                <a href="" class="btn card__btn mt-2">Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="card swiper--card ">
                            <img class="img-fluid" src="../src/img/imgbanner.png" alt="">
                            <div class="card-body">
                                <h6 class="card__brand">Toyota</h6>
                                <h5 class="card__type font-md-20px">MPV</h5>
                                <h5 class="card__price ">Rp. 1.500.000/hari</h5>
                                <a href="" class="btn card__btn mt-2">Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="card swiper--card ">
                            <img class="img-fluid" src="../src/img/imgbanner.png" alt="">
                            <div class="card-body">
                                <h6 class="card__brand">Toyota</h6>
                                <h5 class="card__type font-md-20px">MPV</h5>
                                <h5 class="card__price ">Rp. 1.500.000/hari</h5>
                                <a href="" class="btn card__btn mt-2">Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="card swiper--card ">
                            <img class="img-fluid" src="../src/img/imgbanner.png" alt="">
                            <div class="card-body">
                                <h6 class="card__brand">Toyota</h6>
                                <h5 class="card__type font-md-20px">MPV</h5>
                                <h5 class="card__price ">Rp. 1.500.000/hari</h5>
                                <a href="" class="btn card__btn mt-2">Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="card swiper--card ">
                            <img class="img-fluid" src="../src/img/imgbanner.png" alt="">
                            <div class="card-body">
                                <h6 class="card__brand">Toyota</h6>
                                <h5 class="card__type font-md-20px">MPV</h5>
                                <h5 class="card__price ">Rp. 1.500.000/hari</h5>
                                <a href="" class="btn card__btn mt-2">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->

            </div>
            <a href="#" class=" text-secondary swiper__nav swiper__nav-prev p-1 ">
                <i class="fas fa-angle-left fa-3x"></i>
            </a>
            <a href="#" class=" text-secondary  swiper__nav swiper__nav-next  p-1 ">
                <i class="fas fa-angle-right fa-3x"></i>
            </a>
        </div>


    </div>

</div>