<div class="col-12 pl-0 mt-4 pl-md-2 ">
    <h4 class=" mb-n4 text-primary font-25px ">Layana Kami</h4>
    <nav aria-label="breadcrumb px-0">
        <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item "><a href="#">Home</a></li>
            <li class="breadcrumb-item active  " aria-current="page">Layanan Kami</li>
        </ol>
    </nav>
</div>
<div class="col-12 listcars-banner-content pl-0 pl-md-2  ">
    <div class="row h-100">
        <div class="col-md-6 d-flex align-content-center flex-column justify-content-center">
            <p class="font-25px text-white mb-0 ml-0 pl-0  ">
                Kami Menyediakan Layanan
            </p>
            <h1 class=" text-primary font-md-65px font-weight-light ml-0 pl-0  ">Terbaik untuk
                anda </h1>

        </div>
        <div class="col-md-6 my-auto mx-auto mt-3">
            <img class=" img-fluid " src="dist/static/svg/service1.svg" alt="">
        </div>
    </div>
</div>