<div class="container-fluid px-5">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class=" text-secondary ">Tim Kami</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec
                augue urna.</p>
            <div class="d-none d-md-flex mt-1">
                <div class="btn btn-lg btn-secondary  rounded-circle muted prev-button ">
                    <i class="fad fa-arrow-left"></i>
                </div>
                <div class="btn btn-lg btn-secondary ml-2 rounded-circle  next-button muted  ">
                    <i class="fad fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3">
            <!-- Swiper -->
            <div class="swiper-container swiper--ourteams py-4 px-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide  ">
                        <div class="card our--team--card py-2 border-0 shadow-sm ">
                            <div class="card-body text-center position-relative   ">
                                <div class="d-flex mb-2 ">
                                    <img class=" img-fluid col-8 mx-auto rounded-circle"
                                        src="dist/static/img/clients/client1.jpg" alt="">
                                </div>
                                <h1 class="  text-secondary font-25px ">Akbar</h1>
                                <h3 class="  font-17px mt-n1 font-weight-bolder text-muted   ">CEO</h3>

                            </div>
                            <div class="card-footer border-0 bg-transparent mt-n2   ">
                                <div class="d-flex justify-content-center ">
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ">
                                        <i class="fab  fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-instagram"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-twitter"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fal   fa-envelope"></i></a>
                                </div>

                            </div>
                            <a href="" class=" text-dark text-center  ">More...</a>
                        </div>
                    </div>
                    <div class="swiper-slide  ">
                        <div class="card our--team--card py-2 border-0 shadow-sm ">
                            <div class="card-body text-center position-relative   ">
                                <div class="d-flex mb-2 ">
                                    <img class=" img-fluid col-8 mx-auto rounded-circle"
                                        src="dist/static/img/clients/client3.png" alt="">
                                </div>
                                <h1 class="  text-secondary font-25px ">Akbar</h1>
                                <h3 class="  font-17px mt-n1 font-weight-bolder text-muted   ">CEO</h3>

                            </div>
                            <div class="card-footer border-0 bg-transparent mt-n2   ">
                                <div class="d-flex justify-content-center ">
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ">
                                        <i class="fab  fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-instagram"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-twitter"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fal   fa-envelope"></i></a>
                                </div>

                            </div>
                            <a href="" class=" text-dark text-center  ">More...</a>
                        </div>
                    </div>
                    <div class="swiper-slide  ">
                        <div class="card our--team--card py-2 border-0 shadow-sm ">
                            <div class="card-body text-center position-relative   ">
                                <div class="d-flex mb-2 ">
                                    <img class=" img-fluid col-8 mx-auto rounded-circle"
                                        src="dist/static/img/clients/client1.jpg" alt="">
                                </div>
                                <h1 class="  text-secondary font-25px ">Akbar</h1>
                                <h3 class="  font-17px mt-n1 font-weight-bolder text-muted   ">CEO</h3>

                            </div>
                            <div class="card-footer border-0 bg-transparent mt-n2   ">
                                <div class="d-flex justify-content-center ">
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ">
                                        <i class="fab  fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-instagram"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-twitter"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fal   fa-envelope"></i></a>
                                </div>

                            </div>
                            <a href="" class=" text-dark text-center  ">More...</a>
                        </div>
                    </div>
                    <div class="swiper-slide  ">
                        <div class="card our--team--card py-2 border-0 shadow-sm ">
                            <div class="card-body text-center position-relative   ">
                                <div class="d-flex mb-2 ">
                                    <img class=" img-fluid col-8 mx-auto rounded-circle"
                                        src="dist/static/img/clients/client2.png" alt="">
                                </div>
                                <h1 class="  text-secondary font-25px ">Akbar</h1>
                                <h3 class="  font-17px mt-n1 font-weight-bolder text-muted   ">CEO</h3>
                            </div>
                            <div class="card-footer border-0 bg-transparent mt-n2   ">
                                <div class="d-flex justify-content-center ">
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ">
                                        <i class="fab  fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-instagram"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fab   fa-twitter"></i></a>
                                    <a href="#" class="btn btn-secondary text-primary rounded-circle ml-1"><i
                                            class="fal   fa-envelope"></i></a>
                                </div>

                            </div>
                            <a href="" class=" text-dark text-center  ">More...</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>