<div class="container-fluid px-3">
    <div class="row ">
        <div class="d-none d-lg-flex col-sm-7 ">
            <div class=" row">
                <div class="col-lg-7 offset-lg-5">
                    <img class="img-fluid " src="dist/static/img/about/our-values-1.png" alt="">
                </div>

                <div class=" ">
                    <img style="margin-top: -6.8rem;" class="img-fluid " src="dist/static/img/about/our-values-2.png"
                        alt="">
                </div>
                <div class="col-lg-4  "></div>
            </div>
        </div>
        {{!-- <div class="col-md-1 px-0"></div> --}}
        <div class="col-12 col-lg-5 pl-2  ">
            <h1 class=" text-secondary text-center font-weight-normal  ">Nilai Kami</h1>
            <div class="  mt-5">
                <h2 class=" text-secondary font-weight-bold ">Visi</h2>
                <p>Kami selalu berusaha untuk menyediakan kendaraan yang terbaru dan optimal untuk perjalanan
                    anda dan kami akan membangun kinerja yang memuaskan untuk klien kami</p>
            </div>
            <div class="  mt-5">
                <h2 class=" text-secondary font-weight-bold ">Misi</h2>
                <p>Menjadi perusahaan transportasi ataupun rekan kerja yang menyediakan jasa penyewaan mobil
                    yang dapat diandalkan. Kami berupaya untuk menempatkan diri sebagai perusahaan rental mobil
                    terdepan di kawasan Jakarta</p>
            </div>
            <div class="  mt-5">
                <h2 class=" text-secondary font-weight-bold ">Tujuan</h2>
                <p>Menjadi pemimpin dalam penyewaan dan transportasi mobil industri dengan memberikan layanan
                    yang ditingkatkan, hubungan dan profitabilitas.</p>
            </div>
        </div>
    </div>
</div>